 /* Smartphones (portrait and landscape) ---------- */
    @media screen and (min-width: 193px) and (max-width: 450px){
        body{
			background: #fff;
		}
    }
    /* Smartphones (portrait) ---------- */
    @media screen and (max-width: 320px){
        body{
			background: #ffd280;
		}
    }
    /* Smartphones (landscape) ---------- */
    @media screen and (min-width: 321px){
        body{
			background: #9ddfbb;
		}
    }
    /* tablets, iPads (portrait and landscape) ---------- */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        body{
			background: #ffb497;
		}
    }
    /* tablets, iPads (portrait) ---------- */
    @media screen and (min-width: 768px){
        body{
			background: #f0e68c;
		}
    }
    /* tablets, iPads (landscape) ---------- */
    @media screen and (min-width: 1024px){
        body{
			background: #d6b3f4;
		}
    }
    /* Desktops and laptops ---------- */
    @media screen and (min-width: 1224px){
        body{
			background: #d8ff9d;
		}
    }
    /* Large screens ---------- */
    @media screen and (min-width: 1824px){
        body{
			background: #ffc0cb;
		}
    }